<!doctype html>
<html ng-app="weather">
    <head>
        <meta charset="utf8">
        <title>Weather-Ng</title>
        <link href="content/css/style.css" rel="stylesheet">
    </head>
    
    <body ng-controller="WeatherCtrl">
        <div id="wrapper" css-background-image="./content/images/{{iconId}}.jpg">
            <div id="input-city">
                <div id="form">
                    <input ng-model="city" type="text" id="city" placeholder="Cidade, País">
                    <button ng-click="getWeather(city);">Consultar</button>
                </div>
            </div>
        </div>
        
        <!-- 3rd party vendor -->
        <script src="bower_components/angularjs/angular.js"></script>
        
        <!-- application scripts -->
        <script src="app/app.js"></script>
        <script src="app/app.config.js"></script>
        <script src="app/app.directives.js"></script>
        <script src="app/weather.model.js"></script>
        <script src="app/weather.service.js"></script>
        <script src="app/weather.controller.js"></script>
    </body>

</html>